<div class="rect">
  <img src="/assets/lincoln.svg" class="lincoln" />
  <a class="login">LOGIN</a>
  <a class="signup">SIGN UP</a>
  <img src="/assets/Ellipse.svg" class="elipse" />
  <img src="/assets/img.svg" class="img" />
  <img src="/assets/loginimg.svg" class="loginimg" />
  <p class="dash">/</p>
  <p class="signin">SIGN IN</p>
  <img src="/assets/username.svg" class="usernameicon" />
  <p class="username">USERNAME/ID</p>
  <hr class="line">
  <p class="password">Password</p>
  <hr class="line2">
  <img src="/assets/password.svg" class="passwordicon" />
  <p class="signin2">SIGNIN TO YOUR STUDENT DASHBOARD</p>
  <a class="forgotpassword">forgotten your password ?</a>
  <button class="signinbtn">SIGN IN</button>
</div>