<div class="page">
    <img src="/assets/lincoln.svg" class="lincoln" />
    <a class="login">LOGIN</a>
    <a class="signup">SIGN UP</a>
    <p class="dash">/</p>
    <p class="signupword">SIGN UP </p>
    <p class="sent">FIRST TIME AS A STUDENT HERE? SIGNUP!</p>
    <p class="fullname">FULLNAME/ID</p>
    <hr class="line">
    <img src="/assets/username.svg" class="fullnameicon" />
    <p class="password">PASSWORD</p>
    <hr class="line2">
    <img src="/assets/password2.svg" class="passwordicon" />
    <p class="faculty">FACULTY</p>
    <img src="/assets/faculty.svg" class="facultyicon" />
    <hr class="line3">
    <p class="email">EMAIL</p>
    <img src="/assets/mail.svg" class="emailicon" />
    <hr class="line4">
    <button class="signin">SIGN IN</button>
    <img src="/assets/img.svg" class="img" />
    <img src="/assets/loginimg.svg" class="loginimg" />
</div>